/vendor/
/node_modules/
/.idea/
/.vscode/
/.build-tools/
Homestead.json
Homestead.yaml
.env
.env.*
!.env.example
.phpunit.result.cache
/.phpunit.cache/
/coverage/
*.log
*.sql
*.sqlite
*.sqlite3
*.bak
*.pem
*.key
auth.json
/public/uploads/**
!/public/uploads/public/
!/public/uploads/public/.htaccess
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
.DS_Store
Thumbs.db
